@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*custom variables */
:root {
    /*declare colors */
    --primary-clr:  #309F48;
    --secondary-clr: #5B6056;

    /*font weights*/
    --fw-regular: 400;
    --fw-bold: 800;

}


/*standardize the page */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',  'sans-serif';
    box-sizing: border-box;


}
.App {
    height: 100%
}

#root {
    height: 100%;
    width: 100%;
}

h1 {
    padding-top: 21.92%;
    padding-right: 31.03%;
    padding-left: 25.61%;
  
    font-weight: var(--fw-bold);
    color: var(--primary-clr);
    font-size:2.8125rem;
    margin:  0 auto;
    line-height: 3.8125rem;
}
 h1 .clr-secondary {
    color: var(--secondary-clr);
 }

 h1 + p { 
    padding-left: 32.266%;
    padding-right: 37.68%;
    font-size: 1.125rem;
    line-height: 2.0425rem;
    font-weight: var(--fw-regular);
    color: #6D6D6D;

 }

.flex-container {
    display: flex;
    justify-content: center;
    margin: 0 .5rem;
    height: 100%;
}

.flex-item-left {
    display: flex;
    background-color: bisque;
    justify-content: center;
    width: 42.15%;
}
.flex-item-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    width: 57.85%;
}
.form-group {
    box-sizing: border-box;
    width: 100%;
    padding-left:10.71%;
    padding-right: 16%;
    padding-top: 8.59%;
}
.form-element {
    display:flex;
    flex-direction: column;
    margin-bottom: 1.6875rem;
}
.form-element + .form-element + .form-element {
    margin-bottom: 0rem;
}


.form-control {
    border-radius: 7px;
    border-color: #D6D6D6;
    background-color: #FBFBFB;
    font-size: 1.125rem;
    height: 3.8125rem;
     
}
.form-label {
    padding-left: 1.5rem;
}

.submit-btn {
    background-color: var(--primary-clr);
    color: #FFFFFF;
    height: 3.8125rem /*heihgt of .form-control*/
    
}

.form-group + p {
    padding-left: 26.23%;
    padding-right: 31.53%;
    padding-top: 2.4%;
}

p a {
    color: var(--primary-clr);
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: var(--fw-bold);
}

.logo {
    box-sizing: border-box;
    margin-top: 26.56%;    
    width: 75.98%;
    height: 32.65%;
    border: solid black 1px;
    margin-left: auto;
    margin-right: auto;

}

